@import 'products';
@import 'cart';

body{
    margin:0;
}

#root{
    max-width:900px;
    margin:0 auto;
    
}

.gnb{
    ul{
        list-style:none;
        display:flex;
        flex-direction:row;
        gap:10px;
    }
    
}